---
http_interactions:
- request:
    method: get
    uri: http://api.earth911.com/earth911.searchMaterials?api_key=0a121ce6ad1237ec&query=battery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: UTF-8
      string: '{"search_time": "00.005853", "num_results": 10, "result": [{"url":
        "", "exact": false, "description": "Acids", "material_id": 503}, {"url": "",
        "exact": false, "description": "Alkaline Batteries", "material_id": 104},
        {"url": "", "exact": false, "description": "Button Cell Batteries", "material_id":
        127}, {"url": "", "exact": false, "description": "Car Fluids", "material_id":
        368}, {"url": "", "exact": false, "description": "Lithium Batteries", "material_id":
        689}, {"url": "", "exact": false, "description": "Lithium-ion Batteries",
        "material_id": 6}, {"url": "", "exact": false, "description": "Nickel-cadmium
        Batteries", "material_id": 126}, {"url": "", "exact": false, "description":
        "Nickel-metal Hydride Batteries", "material_id": 685}, {"url": "", "exact":
        false, "description": "Nickel-zinc Batteries", "material_id": 687}, {"url":
        "", "exact": false, "description": "Zinc-carbon Batteries", "material_id":
        691}]}'
  recorded_at: Fri, 03 Dec 2021 02:08:17 GMT
recorded_with: VCR 6.0.0
