---
http_interactions:
- request:
    method: get
    uri: http://api.earth911.com/earth911.searchLocations?api_key=0a121ce6ad1237ec&latitude=33.67&longitude=-112.04&material_id=104
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: UTF-8
      string: '{"search_time": "00.628601", "num_results": 12, "result": [{"curbside":
        false, "description": "eGreen IT Solutions", "distance": 7.0, "longitude":
        -112.11036529435061, "latitude": 33.587015133686904, "location_type_id": 0,
        "location_id": "Q1RQNVdbXV9AVQ", "municipal": false}, {"curbside": false,
        "description": "Maricopa County Transfer Station - Cave Creek", "distance":
        8.0, "longitude": -112.00889446883295, "latitude": 33.78308129118068, "location_type_id":
        1, "location_id": "Q1RQNVBfW1xAUg", "municipal": true}, {"curbside": false,
        "description": "Dollar Self Storage", "distance": 8.7, "longitude": -112.14898264974242,
        "latitude": 33.582087696648784, "location_type_id": 0, "location_id": "Q1RQNVJbUlxFVw",
        "mun[...]
